#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    font-size: 3vh;
    margin: 0; 
    color: white;
    background-color: black;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive; 
}

body {
    margin: 0;
    overflow: hidden;
}

input {
    position: absolute;
    text-align: center;
    font-size: 3vh;
}

#question {
    position: absolute;
    height: 5vh;
    left: 25vw;
    width: 50vw;
    text-align: center;
    top: 5vh;
    font-size: 3vh;
    padding-top: 1.5vh;
}


#ins {
    position: absolute;
    left: 1vh;
    top: 80vh;
    height: 5vh;
    font-size: 3vh;

}
